body{
    margin: 3em;
    text-align: center;
    font-size: .9em;
}
body h1{
    margin-bottom: 2em;
}
div{
    display: flex; align-content: center;
}
.bloco1{
    background-color: #0CF2FA;
    width: 15%;
    padding-bottom: 42%;
}
.bloco2{
    width: 85%;
    align-items: flex-start;
}
header{
    background-color: #0CA7FA;
    padding-top: 2px;
    padding-bottom: 7%;
}
.separacao1{
    width: 100%;
    display: flex; 
}
article{
    width: 85%;
    background-color: #FFC2FA;
    padding-top: 2px;
    padding-bottom: 41%;
}
footer{
    color: #ffffff;
    background-color: #0C1174;
    width: 85%;
    padding-bottom: 7%;
}
.separacao2{
    width: 100%;
}
aside{
    background-color: #0959BD;
    width: 11em;
    align-items: stretch;
    padding-bottom: 11em;
}
