body{
    width: 70em;
    color: #2b2726;
    border-left: 7em solid #fff;
    border-right: 7em solid #fff;
    text-align: center;
}

#principal{
    display: block;
    border: 5em;
}

header{
    color: #fff;
    height: 4em;
    background-color: #0a516d;
}

#centro{
    display: flex;
}

article{
    background-color: aliceblue;
    width: 60%;
}

aside{
    background-color: #018790;
    width: 40%;
}

#aside{
    display: flex;
    padding: 1em;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#aside div{
    background-color:aliceblue;
    border: 10px solid #018790;
    width: 10em;
    padding-bottom: 8em;
}

footer{
    color: #fff;
    height: 4EM;
    background-color: #2b2726;
}